body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1287px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1277px;
  height:205px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:205px;
}
#u1 {
  position:absolute;
  left:2px;
  top:94px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:83px;
  width:154px;
  height:59px;
  font-size:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:59px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:699px;
  top:107px;
  width:391px;
  height:34px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:1090px;
  top:109px;
  width:51px;
  height:34px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:34px;
}
#u6 {
  position:absolute;
  left:2px;
  top:1px;
  width:47px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1153px;
  top:109px;
  width:113px;
  height:34px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:34px;
}
#u8 {
  position:absolute;
  left:2px;
  top:9px;
  width:109px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:10px;
  top:164px;
  width:257px;
  height:51px;
  font-size:20px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:253px;
  word-wrap:break-word;
}
#u9_ann {
  position:absolute;
  left:260px;
  top:160px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:267px;
  top:164px;
  width:1019px;
  height:51px;
  font-size:20px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1019px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:1015px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_ann {
  position:absolute;
  left:1279px;
  top:160px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:288px;
  top:178px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:377px;
  top:178px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:490px;
  top:178px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:581px;
  top:178px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:701px;
  top:178px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:818px;
  top:178px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:1193px;
  top:178px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:908px;
  top:178px;
  width:55px;
  height:22px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:1114px;
  top:178px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:1009px;
  top:178px;
  width:55px;
  height:22px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:1124px;
  top:77px;
  width:136px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:10px;
  top:14px;
  width:1277px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:16px;
  top:22px;
  width:55px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:956px;
  top:24px;
  width:27px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:995px;
  top:24px;
  width:53px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:1062px;
  top:24px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:1137px;
  top:24px;
  width:53px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:1212px;
  top:24px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:30px;
  top:24px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:73px;
  top:24px;
  width:27px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:12px;
  top:267px;
  width:255px;
  height:1060px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:1060px;
}
#u54 {
  position:absolute;
  left:2px;
  top:522px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:28px;
  top:286px;
  width:73px;
  height:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:28px;
  top:318px;
  width:207px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:190px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:207px;
  height:1px;
}
#u58 {
  position:absolute;
  left:28px;
  top:346px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:28px;
  top:387px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:28px;
  top:425px;
  width:71px;
  height:16px;
  color:#A1A1A1;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:28px;
  top:466px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:28px;
  top:508px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:28px;
  top:545px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:28px;
  top:585px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:28px;
  top:646px;
  width:73px;
  height:22px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:28px;
  top:679px;
  width:207px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:190px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:207px;
  height:1px;
}
#u75 {
  position:absolute;
  left:28px;
  top:707px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:28px;
  top:748px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:28px;
  top:786px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:28px;
  top:827px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:28px;
  top:869px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:28px;
  top:906px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:28px;
  top:946px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:28px;
  top:989px;
  width:73px;
  height:22px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:28px;
  top:1023px;
  width:207px;
  height:10px;
}
#u91_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_end {
  position:absolute;
  left:190px;
  top:-5px;
  width:18px;
  height:20px;
}
#u91_line {
  position:absolute;
  left:0px;
  top:5px;
  width:207px;
  height:1px;
}
#u92 {
  position:absolute;
  left:28px;
  top:1049px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:28px;
  top:1090px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:28px;
  top:1131px;
  width:71px;
  height:16px;
  color:#A1A1A1;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:28px;
  top:1171px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:28px;
  top:1212px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:28px;
  top:1248px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:28px;
  top:1291px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:373px;
  top:286px;
  width:149px;
  height:29px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u107 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:521px;
  top:286px;
  width:149px;
  height:29px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u109 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:672px;
  top:286px;
  width:149px;
  height:29px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u111 {
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:285px;
  top:290px;
  width:73px;
  height:22px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:427px;
  top:294px;
  width:57px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:576px;
  top:294px;
  width:57px;
  height:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:723px;
  top:294px;
  width:57px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:277px;
  top:343px;
  width:1010px;
  height:134px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:134px;
}
#u121 {
  position:absolute;
  left:2px;
  top:59px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:332px;
  top:371px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:562px;
  top:371px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u126 {
  position:absolute;
  left:328px;
  top:388px;
  width:89px;
  height:46px;
  font-size:40px;
  color:#996600;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:46px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:558px;
  top:388px;
  width:67px;
  height:46px;
  font-size:40px;
  color:#996600;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:46px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:562px;
  top:425px;
  width:89px;
  height:16px;
  font-size:13px;
  color:#666666;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:501px;
  top:364px;
  width:10px;
  height:98px;
}
#u132_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u132_end {
  position:absolute;
  left:-5px;
  top:81px;
  width:20px;
  height:18px;
}
#u132_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:98px;
}
#u133 {
  position:absolute;
  left:785px;
  top:364px;
  width:10px;
  height:98px;
}
#u133_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u133_end {
  position:absolute;
  left:-5px;
  top:81px;
  width:20px;
  height:18px;
}
#u133_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:98px;
}
#u134 {
  position:absolute;
  left:921px;
  top:392px;
  width:220px;
  height:36px;
  color:#FFFFFF;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:277px;
  top:502px;
  width:1010px;
  height:35px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:35px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:415px;
  top:511px;
  width:61px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:669px;
  top:511px;
  width:57px;
  height:16px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:939px;
  top:511px;
  width:29px;
  height:16px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1193px;
  top:512px;
  width:29px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:599px;
  top:502px;
  width:10px;
  height:32px;
}
#u146_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u146_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u146_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u147 {
  position:absolute;
  left:785px;
  top:502px;
  width:10px;
  height:32px;
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u148 {
  position:absolute;
  left:1111px;
  top:502px;
  width:10px;
  height:32px;
}
#u148_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u148_end {
  position:absolute;
  left:-5px;
  top:15px;
  width:20px;
  height:18px;
}
#u148_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:32px;
}
#u149 {
  position:absolute;
  left:277px;
  top:532px;
  width:1010px;
  height:306px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:306px;
}
#u150 {
  position:absolute;
  left:2px;
  top:145px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:277px;
  top:309px;
  width:95px;
  height:10px;
}
#u151_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_end {
  position:absolute;
  left:78px;
  top:-5px;
  width:18px;
  height:20px;
}
#u151_line {
  position:absolute;
  left:0px;
  top:5px;
  width:95px;
  height:1px;
}
#u152 {
  position:absolute;
  left:821px;
  top:309px;
  width:466px;
  height:10px;
}
#u152_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_end {
  position:absolute;
  left:449px;
  top:-5px;
  width:18px;
  height:20px;
}
#u152_line {
  position:absolute;
  left:0px;
  top:5px;
  width:466px;
  height:1px;
}
#u153 {
  position:absolute;
  left:298px;
  top:563px;
  width:51px;
  height:51px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u154 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_ann {
  position:absolute;
  left:342px;
  top:559px;
  width:1px;
  height:1px;
}
#u155 {
  position:absolute;
  left:365px;
  top:566px;
  width:57px;
  height:34px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:34px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u157 {
  position:absolute;
  left:358px;
  top:601px;
  width:189px;
  height:32px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u159 {
  position:absolute;
  left:680px;
  top:580px;
  width:56px;
  height:37px;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:889px;
  top:589px;
  width:151px;
  height:16px;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1169px;
  top:589px;
  width:57px;
  height:16px;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u163_ann {
  position:absolute;
  left:1219px;
  top:585px;
  width:1px;
  height:1px;
}
#u165 {
  position:absolute;
  left:298px;
  top:657px;
  width:51px;
  height:51px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u166 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_ann {
  position:absolute;
  left:342px;
  top:653px;
  width:1px;
  height:1px;
}
#u167 {
  position:absolute;
  left:680px;
  top:675px;
  width:56px;
  height:37px;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:889px;
  top:683px;
  width:151px;
  height:16px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:1169px;
  top:683px;
  width:57px;
  height:16px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u171_ann {
  position:absolute;
  left:1219px;
  top:679px;
  width:1px;
  height:1px;
}
#u173 {
  position:absolute;
  left:298px;
  top:743px;
  width:51px;
  height:51px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u174 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_ann {
  position:absolute;
  left:342px;
  top:739px;
  width:1px;
  height:1px;
}
#u175 {
  position:absolute;
  left:680px;
  top:761px;
  width:56px;
  height:37px;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:889px;
  top:769px;
  width:151px;
  height:16px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u179 {
  position:absolute;
  left:1169px;
  top:769px;
  width:57px;
  height:16px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u179_ann {
  position:absolute;
  left:1219px;
  top:765px;
  width:1px;
  height:1px;
}
#u181 {
  position:absolute;
  left:284px;
  top:628px;
  width:995px;
  height:10px;
}
#u181_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u181_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u182 {
  position:absolute;
  left:277px;
  top:726px;
  width:995px;
  height:10px;
}
#u182_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u182_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u183 {
  position:absolute;
  left:277px;
  top:812px;
  width:995px;
  height:10px;
}
#u183_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u183_end {
  position:absolute;
  left:978px;
  top:-5px;
  width:18px;
  height:20px;
}
#u183_line {
  position:absolute;
  left:0px;
  top:5px;
  width:995px;
  height:1px;
}
#u184 {
  position:absolute;
  left:1183px;
  top:857px;
  width:64px;
  height:74px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:74px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u186 {
  position:absolute;
  left:1247px;
  top:857px;
  width:35px;
  height:26px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u187 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:1132px;
  top:857px;
  width:35px;
  height:26px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:26px;
}
#u189 {
  position:absolute;
  left:2px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
