body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:20px;
  width:1240px;
  height:36px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:36px;
}
#u1 {
  position:absolute;
  left:2px;
  top:10px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:45px;
  top:28px;
  width:53px;
  height:21px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:960px;
  top:30px;
  width:27px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:997px;
  top:30px;
  width:53px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1063px;
  top:30px;
  width:53px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:1134px;
  top:30px;
  width:53px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1207px;
  top:30px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:60px;
  top:30px;
  width:27px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:102px;
  top:30px;
  width:27px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:40px;
  top:59px;
  width:1240px;
  height:471px;
  font-size:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:471px;
}
#u19 {
  position:absolute;
  left:2px;
  top:228px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_ann {
  position:absolute;
  left:1273px;
  top:55px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:611px;
  top:480px;
  width:16px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u21 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:620px;
  top:476px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:639px;
  top:480px;
  width:16px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:666px;
  top:480px;
  width:16px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:693px;
  top:480px;
  width:16px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:45px;
  top:550px;
  width:195px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:40px;
  top:597px;
  width:310px;
  height:303px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:303px;
}
#u31 {
  position:absolute;
  left:2px;
  top:144px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_ann {
  position:absolute;
  left:343px;
  top:593px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:73px;
  top:620px;
  width:244px;
  height:170px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:170px;
}
#u33 {
  position:absolute;
  left:2px;
  top:77px;
  width:240px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:155px;
  top:820px;
  width:73px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:123px;
  top:852px;
  width:131px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:350px;
  top:597px;
  width:310px;
  height:303px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:303px;
}
#u39 {
  position:absolute;
  left:2px;
  top:144px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_ann {
  position:absolute;
  left:653px;
  top:593px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:383px;
  top:620px;
  width:244px;
  height:170px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:170px;
}
#u41 {
  position:absolute;
  left:2px;
  top:77px;
  width:240px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:465px;
  top:820px;
  width:73px;
  height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:433px;
  top:852px;
  width:131px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:660px;
  top:597px;
  width:310px;
  height:303px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:303px;
}
#u47 {
  position:absolute;
  left:2px;
  top:144px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_ann {
  position:absolute;
  left:963px;
  top:593px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:693px;
  top:620px;
  width:244px;
  height:170px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:170px;
}
#u49 {
  position:absolute;
  left:2px;
  top:77px;
  width:240px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:775px;
  top:820px;
  width:73px;
  height:22px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:743px;
  top:852px;
  width:131px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:970px;
  top:597px;
  width:310px;
  height:303px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:303px;
}
#u55 {
  position:absolute;
  left:2px;
  top:144px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_ann {
  position:absolute;
  left:1273px;
  top:593px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:1003px;
  top:620px;
  width:244px;
  height:170px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:170px;
}
#u57 {
  position:absolute;
  left:2px;
  top:77px;
  width:240px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1085px;
  top:820px;
  width:73px;
  height:22px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1053px;
  top:852px;
  width:131px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:1190px;
  top:564px;
  width:35px;
  height:23px;
  font-size:17px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u62_ann {
  position:absolute;
  left:1218px;
  top:560px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:1225px;
  top:564px;
  width:35px;
  height:23px;
  font-size:17px;
  color:#A1A1A1;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:320px;
  top:240px;
  width:600px;
  height:60px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:60px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:920px;
  top:240px;
  width:80px;
  height:60px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:820px;
  top:240px;
  width:100px;
  height:60px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u70 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_ann {
  position:absolute;
  left:913px;
  top:236px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:40px;
  top:930px;
  width:1240px;
  height:364px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:364px;
}
#u73 {
  position:absolute;
  left:2px;
  top:174px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:90px;
  top:1094px;
  width:1110px;
  height:10px;
}
#u74_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u74_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u75 {
  position:absolute;
  left:77px;
  top:984px;
  width:90px;
  height:90px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u76 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_ann {
  position:absolute;
  left:160px;
  top:980px;
  width:1px;
  height:1px;
}
#u77 {
  position:absolute;
  left:176px;
  top:996px;
  width:145px;
  height:37px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u77_ann {
  position:absolute;
  left:314px;
  top:992px;
  width:1px;
  height:1px;
}
#u79 {
  position:absolute;
  left:176px;
  top:1041px;
  width:181px;
  height:22px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:374px;
  top:984px;
  width:90px;
  height:90px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u82 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_ann {
  position:absolute;
  left:457px;
  top:980px;
  width:1px;
  height:1px;
}
#u83 {
  position:absolute;
  left:473px;
  top:996px;
  width:145px;
  height:37px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u83_ann {
  position:absolute;
  left:611px;
  top:992px;
  width:1px;
  height:1px;
}
#u85 {
  position:absolute;
  left:473px;
  top:1041px;
  width:181px;
  height:22px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:670px;
  top:984px;
  width:90px;
  height:90px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u88 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_ann {
  position:absolute;
  left:753px;
  top:980px;
  width:1px;
  height:1px;
}
#u89 {
  position:absolute;
  left:769px;
  top:996px;
  width:145px;
  height:37px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u89_ann {
  position:absolute;
  left:907px;
  top:992px;
  width:1px;
  height:1px;
}
#u91 {
  position:absolute;
  left:769px;
  top:1041px;
  width:181px;
  height:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:967px;
  top:984px;
  width:90px;
  height:90px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u94 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_ann {
  position:absolute;
  left:1050px;
  top:980px;
  width:1px;
  height:1px;
}
#u95 {
  position:absolute;
  left:1066px;
  top:996px;
  width:145px;
  height:37px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u95_ann {
  position:absolute;
  left:1204px;
  top:992px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:1066px;
  top:1041px;
  width:181px;
  height:22px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:77px;
  top:1130px;
  width:97px;
  height:28px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:77px;
  top:1165px;
  width:73px;
  height:22px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:77px;
  top:1192px;
  width:73px;
  height:22px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:288px;
  top:1130px;
  width:97px;
  height:28px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:288px;
  top:1165px;
  width:73px;
  height:22px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:288px;
  top:1192px;
  width:73px;
  height:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:499px;
  top:1130px;
  width:97px;
  height:28px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:499px;
  top:1166px;
  width:55px;
  height:22px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:499px;
  top:1192px;
  width:55px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:710px;
  top:1129px;
  width:97px;
  height:28px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:710px;
  top:1164px;
  width:73px;
  height:22px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:710px;
  top:1191px;
  width:73px;
  height:22px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:499px;
  top:1220px;
  width:37px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:710px;
  top:1220px;
  width:73px;
  height:22px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:905px;
  top:1114px;
  width:342px;
  height:65px;
  font-size:55px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:949px;
  top:1180px;
  width:253px;
  height:29px;
  font-size:25px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:939px;
  top:1219px;
  width:273px;
  height:47px;
  font-size:28px;
  color:#FFFFFF;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:269px;
  word-wrap:break-word;
}
