body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:140px;
  top:240px;
  width:940px;
  height:320px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:320px;
}
#u1 {
  position:absolute;
  left:2px;
  top:152px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:1073px;
  top:236px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:210px;
  top:280px;
  width:800px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:796px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:693px;
  top:384px;
  width:240px;
  height:62px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:62px;
}
#u5 {
  position:absolute;
  left:2px;
  top:23px;
  width:236px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:210px;
  top:380px;
  width:470px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:466px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:210px;
  top:470px;
  width:210px;
  height:53px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:53px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:430px;
  top:470px;
  width:210px;
  height:53px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:53px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
#u10_ann {
  position:absolute;
  left:633px;
  top:466px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:140px;
  top:590px;
  width:940px;
  height:351px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:351px;
}
#u13 {
  position:absolute;
  left:2px;
  top:168px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:370px;
  top:707px;
  width:480px;
  height:53px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:53px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:476px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:370px;
  top:650px;
  width:320px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:370px;
  top:777px;
  width:480px;
  height:53px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:53px;
}
#u19 {
  position:absolute;
  left:2px;
  top:18px;
  width:476px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:515px;
  top:857px;
  width:190px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u20_ann {
  position:absolute;
  left:698px;
  top:853px;
  width:1px;
  height:1px;
}
