body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:919px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:90px;
  width:879px;
  height:372px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:372px;
}
#u1 {
  position:absolute;
  left:2px;
  top:178px;
  width:875px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:148px;
  width:118px;
  height:95px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:95px;
}
#u3 {
  position:absolute;
  left:2px;
  top:40px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:130px;
  width:791px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:774px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:791px;
  height:1px;
}
#u5 {
  position:absolute;
  left:40px;
  top:30px;
  width:300px;
  height:74px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:74px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:80px;
  top:98px;
  width:129px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:246px;
  top:176px;
  width:166px;
  height:37px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:432px;
  top:176px;
  width:100px;
  height:32px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:597px;
  top:176px;
  width:33px;
  height:16px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:584px;
  top:176px;
  width:36px;
  height:32px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:433px;
  top:98px;
  width:65px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:569px;
  top:98px;
  width:65px;
  height:37px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:685px;
  top:98px;
  width:65px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:673px;
  top:176px;
  width:100px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:80px;
  top:314px;
  width:118px;
  height:95px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:95px;
}
#u25 {
  position:absolute;
  left:2px;
  top:40px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:246px;
  top:342px;
  width:166px;
  height:37px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:37px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:422px;
  top:342px;
  width:100px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:574px;
  top:342px;
  width:36px;
  height:32px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:673px;
  top:342px;
  width:100px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:80px;
  top:272px;
  width:798px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:781px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:798px;
  height:1px;
}
#u34 {
  position:absolute;
  left:643px;
  top:485px;
  width:259px;
  height:74px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:74px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:643px;
  top:545px;
  width:259px;
  height:74px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:74px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:529px;
  top:603px;
  width:372px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:355px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:372px;
  height:1px;
}
#u39 {
  position:absolute;
  left:784px;
  top:630px;
  width:117px;
  height:44px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:673px;
  top:691px;
  width:228px;
  height:44px;
  font-size:35px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:44px;
}
#u42 {
  position:absolute;
  left:2px;
  top:2px;
  width:224px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:795px;
  top:98px;
  width:65px;
  height:37px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:795px;
  top:176px;
  width:65px;
  height:37px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:795px;
  top:342px;
  width:65px;
  height:37px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
