body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:72px;
  top:160px;
  width:184px;
  height:157px;
  font-size:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:157px;
}
#u1 {
  position:absolute;
  left:2px;
  top:53px;
  width:180px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:282px;
  top:269px;
  width:184px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:282px;
  top:207px;
  width:129px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:872px;
  top:215px;
  width:118px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:40px;
  top:335px;
  width:970px;
  height:485px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:485px;
}
#u9 {
  position:absolute;
  left:2px;
  top:234px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:92px;
  top:400px;
  width:813px;
  height:84px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:84px;
}
#u11 {
  position:absolute;
  left:2px;
  top:34px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:128px;
  top:426px;
  width:97px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:92px;
  top:500px;
  width:813px;
  height:84px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:84px;
}
#u15 {
  position:absolute;
  left:2px;
  top:34px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:128px;
  top:523px;
  width:129px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:92px;
  top:592px;
  width:813px;
  height:84px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:84px;
}
#u19 {
  position:absolute;
  left:2px;
  top:34px;
  width:809px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:128px;
  top:611px;
  width:65px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:92px;
  top:689px;
  width:157px;
  height:52px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u23 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:263px;
  top:689px;
  width:157px;
  height:52px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:433px;
  top:689px;
  width:157px;
  height:52px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:52px;
}
#u27 {
  position:absolute;
  left:2px;
  top:18px;
  width:153px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:282px;
  top:165px;
  width:184px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:22px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:40px;
  top:80px;
  width:970px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:276px;
  top:80px;
  width:236px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:101px;
  top:98px;
  width:124px;
  height:22px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:350px;
  top:98px;
  width:124px;
  height:22px;
  color:#FFFFFF;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:580px;
  top:98px;
  width:124px;
  height:22px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:840px;
  top:98px;
  width:110px;
  height:22px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:40px;
  top:20px;
  width:1240px;
  height:36px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:36px;
}
#u43 {
  position:absolute;
  left:2px;
  top:10px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:45px;
  top:28px;
  width:53px;
  height:21px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:960px;
  top:30px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:997px;
  top:30px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:1063px;
  top:30px;
  width:53px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:1134px;
  top:30px;
  width:53px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:1207px;
  top:30px;
  width:53px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:60px;
  top:30px;
  width:27px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:102px;
  top:30px;
  width:27px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:40px;
  top:860px;
  width:1240px;
  height:364px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:364px;
}
#u62 {
  position:absolute;
  left:2px;
  top:174px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:90px;
  top:1024px;
  width:1110px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u64 {
  position:absolute;
  left:77px;
  top:914px;
  width:90px;
  height:90px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u65 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_ann {
  position:absolute;
  left:160px;
  top:910px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:176px;
  top:926px;
  width:145px;
  height:37px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u66_ann {
  position:absolute;
  left:314px;
  top:922px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:176px;
  top:971px;
  width:181px;
  height:22px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:374px;
  top:914px;
  width:90px;
  height:90px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u71 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_ann {
  position:absolute;
  left:457px;
  top:910px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:473px;
  top:926px;
  width:145px;
  height:37px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u72_ann {
  position:absolute;
  left:611px;
  top:922px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:473px;
  top:971px;
  width:181px;
  height:22px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:670px;
  top:914px;
  width:90px;
  height:90px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u77 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_ann {
  position:absolute;
  left:753px;
  top:910px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:769px;
  top:926px;
  width:145px;
  height:37px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u78_ann {
  position:absolute;
  left:907px;
  top:922px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:769px;
  top:971px;
  width:181px;
  height:22px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:967px;
  top:914px;
  width:90px;
  height:90px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u83 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_ann {
  position:absolute;
  left:1050px;
  top:910px;
  width:1px;
  height:1px;
}
#u84 {
  position:absolute;
  left:1066px;
  top:926px;
  width:145px;
  height:37px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u84_ann {
  position:absolute;
  left:1204px;
  top:922px;
  width:1px;
  height:1px;
}
#u86 {
  position:absolute;
  left:1066px;
  top:971px;
  width:181px;
  height:22px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:77px;
  top:1060px;
  width:97px;
  height:28px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:77px;
  top:1095px;
  width:73px;
  height:22px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:77px;
  top:1122px;
  width:73px;
  height:22px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:288px;
  top:1060px;
  width:97px;
  height:28px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:288px;
  top:1095px;
  width:73px;
  height:22px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:288px;
  top:1122px;
  width:73px;
  height:22px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:499px;
  top:1060px;
  width:97px;
  height:28px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:499px;
  top:1096px;
  width:55px;
  height:22px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:499px;
  top:1122px;
  width:55px;
  height:22px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:710px;
  top:1059px;
  width:97px;
  height:28px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:710px;
  top:1094px;
  width:73px;
  height:22px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:710px;
  top:1121px;
  width:73px;
  height:22px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:499px;
  top:1150px;
  width:37px;
  height:22px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:710px;
  top:1150px;
  width:73px;
  height:22px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:905px;
  top:1044px;
  width:342px;
  height:65px;
  font-size:55px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:949px;
  top:1110px;
  width:253px;
  height:29px;
  font-size:25px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u120 {
  position:absolute;
  left:939px;
  top:1149px;
  width:273px;
  height:47px;
  font-size:28px;
  color:#FFFFFF;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
}
#u121 {
  position:absolute;
  left:2px;
  top:7px;
  width:269px;
  word-wrap:break-word;
}
