body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:70px;
  width:1210px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:150px;
  top:102px;
  width:94px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:325px;
  top:92px;
  width:645px;
  height:28px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  position:absolute;
  left:325px;
  top:130px;
  width:62px;
  height:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:431px;
  top:130px;
  width:62px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:537px;
  top:130px;
  width:62px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:643px;
  top:130px;
  width:62px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:749px;
  top:130px;
  width:62px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:855px;
  top:130px;
  width:62px;
  height:28px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:980px;
  top:88px;
  width:175px;
  height:70px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:70px;
}
#u18 {
  position:absolute;
  left:2px;
  top:27px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:190px;
  width:1210px;
  height:67px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:67px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:100px;
  top:267px;
  width:1210px;
  height:303px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:303px;
}
#u22 {
  position:absolute;
  left:2px;
  top:144px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:120px;
  top:190px;
  width:150px;
  height:380px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:380px;
}
#u24 {
  position:absolute;
  left:2px;
  top:182px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:130px;
  top:210px;
  width:129px;
  height:37px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:297px;
  top:210px;
  width:76px;
  height:37px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:420px;
  top:210px;
  width:83px;
  height:37px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:557px;
  top:210px;
  width:83px;
  height:37px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:680px;
  top:210px;
  width:83px;
  height:37px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:807px;
  top:210px;
  width:83px;
  height:37px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:930px;
  top:210px;
  width:83px;
  height:37px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:951px;
  top:267px;
  width:204px;
  height:303px;
  font-size:35px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:303px;
}
#u40 {
  position:absolute;
  left:2px;
  top:131px;
  width:200px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:121px;
  top:580px;
  width:190px;
  height:150px;
  font-size:35px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:150px;
}
#u42 {
  position:absolute;
  left:2px;
  top:54px;
  width:186px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:321px;
  top:580px;
  width:200px;
  height:150px;
  font-size:35px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u44 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:531px;
  top:580px;
  width:200px;
  height:150px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u46 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:741px;
  top:580px;
  width:200px;
  height:150px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u48 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:955px;
  top:580px;
  width:200px;
  height:150px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u50 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:121px;
  top:1457px;
  width:1034px;
  height:100px;
  font-size:35px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:100px;
}
#u52 {
  position:absolute;
  left:2px;
  top:30px;
  width:1030px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:121px;
  top:1895px;
  width:137px;
  height:282px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:282px;
}
#u54 {
  position:absolute;
  left:2px;
  top:133px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:258px;
  top:1895px;
  width:165px;
  height:282px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:282px;
}
#u56 {
  position:absolute;
  left:2px;
  top:133px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:753px;
  top:1895px;
  width:402px;
  height:140px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:140px;
}
#u58 {
  position:absolute;
  left:2px;
  top:62px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:279px;
  top:1922px;
  width:131px;
  height:137px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:137px;
}
#u60 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:293px;
  top:2081px;
  width:83px;
  height:37px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:296px;
  top:2116px;
  width:34px;
  height:16px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:423px;
  top:1895px;
  width:165px;
  height:282px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:282px;
}
#u66 {
  position:absolute;
  left:2px;
  top:133px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:443px;
  top:1922px;
  width:131px;
  height:137px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:137px;
}
#u68 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:457px;
  top:2081px;
  width:83px;
  height:37px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:588px;
  top:1895px;
  width:165px;
  height:282px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:282px;
}
#u72 {
  position:absolute;
  left:2px;
  top:133px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:608px;
  top:1922px;
  width:131px;
  height:137px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:137px;
}
#u74 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:622px;
  top:2081px;
  width:83px;
  height:37px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:753px;
  top:2035px;
  width:402px;
  height:140px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:140px;
}
#u78 {
  position:absolute;
  left:2px;
  top:62px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:121px;
  top:1577px;
  width:170px;
  height:290px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:290px;
}
#u80 {
  position:absolute;
  left:2px;
  top:137px;
  width:166px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:291px;
  top:1577px;
  width:170px;
  height:150px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u82 {
  position:absolute;
  left:2px;
  top:67px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:291px;
  top:1727px;
  width:170px;
  height:140px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:140px;
}
#u84 {
  position:absolute;
  left:2px;
  top:62px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:460px;
  top:1577px;
  width:170px;
  height:150px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u86 {
  position:absolute;
  left:2px;
  top:67px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:460px;
  top:1727px;
  width:170px;
  height:140px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:140px;
}
#u88 {
  position:absolute;
  left:2px;
  top:62px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:646px;
  top:1577px;
  width:170px;
  height:290px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:290px;
}
#u90 {
  position:absolute;
  left:2px;
  top:137px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:816px;
  top:1577px;
  width:170px;
  height:150px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u92 {
  position:absolute;
  left:2px;
  top:67px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:816px;
  top:1727px;
  width:170px;
  height:140px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:140px;
}
#u94 {
  position:absolute;
  left:2px;
  top:62px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:985px;
  top:1577px;
  width:170px;
  height:150px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:150px;
}
#u96 {
  position:absolute;
  left:2px;
  top:67px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:985px;
  top:1727px;
  width:170px;
  height:140px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:140px;
}
#u98 {
  position:absolute;
  left:2px;
  top:62px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:121px;
  top:2237px;
  width:1034px;
  height:100px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:100px;
}
#u100 {
  position:absolute;
  left:2px;
  top:42px;
  width:1030px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:121px;
  top:2377px;
  width:79px;
  height:50px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:50px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:137px;
  top:1390px;
  width:286px;
  height:37px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:37px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:121px;
  top:740px;
  width:190px;
  height:150px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:150px;
}
#u106 {
  position:absolute;
  left:2px;
  top:67px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:321px;
  top:740px;
  width:200px;
  height:150px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u108 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:531px;
  top:740px;
  width:200px;
  height:150px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u110 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:741px;
  top:740px;
  width:200px;
  height:150px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u112 {
  position:absolute;
  left:2px;
  top:67px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:955px;
  top:740px;
  width:200px;
  height:150px;
  font-size:35px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:150px;
}
#u114 {
  position:absolute;
  left:2px;
  top:54px;
  width:196px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:156px;
  top:280px;
  width:83px;
  height:37px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:156px;
  top:373px;
  width:83px;
  height:37px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:156px;
  top:480px;
  width:83px;
  height:37px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:121px;
  top:930px;
  width:357px;
  height:430px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:430px;
}
#u122 {
  position:absolute;
  left:2px;
  top:207px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:503px;
  top:930px;
  width:357px;
  height:430px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:430px;
}
#u124 {
  position:absolute;
  left:2px;
  top:207px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:900px;
  top:930px;
  width:255px;
  height:430px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:430px;
}
#u126 {
  position:absolute;
  left:2px;
  top:207px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:173px;
  top:980px;
  width:177px;
  height:240px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:240px;
}
#u128 {
  position:absolute;
  left:2px;
  top:112px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:195px;
  top:1003px;
  width:129px;
  height:37px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:195px;
  top:1050px;
  width:116px;
  height:10px;
}
#u131_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_end {
  position:absolute;
  left:99px;
  top:-5px;
  width:18px;
  height:20px;
}
#u131_line {
  position:absolute;
  left:0px;
  top:5px;
  width:116px;
  height:1px;
}
#u132 {
  position:absolute;
  left:195px;
  top:1070px;
  width:129px;
  height:50px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u133 {
  position:absolute;
  left:2px;
  top:17px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:195px;
  top:1150px;
  width:129px;
  height:50px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:50px;
}
#u135 {
  position:absolute;
  left:2px;
  top:17px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:195px;
  top:1310px;
  width:257px;
  height:37px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:37px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:557px;
  top:1310px;
  width:280px;
  height:37px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:37px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:960px;
  top:980px;
  width:170px;
  height:74px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:74px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:922px;
  top:1083px;
  width:94px;
  height:37px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:1047px;
  top:1083px;
  width:83px;
  height:37px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:924px;
  top:1163px;
  width:83px;
  height:37px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:1048px;
  top:1163px;
  width:83px;
  height:37px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:924px;
  top:1240px;
  width:83px;
  height:37px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:1048px;
  top:1240px;
  width:83px;
  height:37px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
