body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:260px;
  width:171px;
  height:710px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:710px;
}
#u1 {
  position:absolute;
  left:2px;
  top:347px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:22px;
  top:272px;
  width:73px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:22px;
  top:295px;
  width:138px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:121px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:138px;
  height:1px;
}
#u5 {
  position:absolute;
  left:22px;
  top:313px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:22px;
  top:340px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:22px;
  top:366px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:22px;
  top:393px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:22px;
  top:421px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:22px;
  top:446px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:22px;
  top:474px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:22px;
  top:506px;
  width:73px;
  height:22px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:22px;
  top:528px;
  width:138px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:121px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:138px;
  height:1px;
}
#u22 {
  position:absolute;
  left:22px;
  top:548px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:22px;
  top:574px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:22px;
  top:600px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:22px;
  top:628px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:22px;
  top:656px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:22px;
  top:680px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:193px;
  top:260px;
  width:877px;
  height:150px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:150px;
}
#u35 {
  position:absolute;
  left:2px;
  top:67px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:193px;
  top:410px;
  width:877px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:193px;
  top:450px;
  width:877px;
  height:193px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:193px;
}
#u39 {
  position:absolute;
  left:2px;
  top:88px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:193px;
  top:643px;
  width:438px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:632px;
  top:643px;
  width:438px;
  height:40px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:40px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:193px;
  top:683px;
  width:438px;
  height:137px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:137px;
}
#u45 {
  position:absolute;
  left:2px;
  top:60px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:632px;
  top:683px;
  width:438px;
  height:137px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:137px;
}
#u47 {
  position:absolute;
  left:2px;
  top:60px;
  width:434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:22px;
  top:708px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:211px;
  top:280px;
  width:89px;
  height:100px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:100px;
}
#u51 {
  position:absolute;
  left:2px;
  top:42px;
  width:85px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:309px;
  top:290px;
  width:97px;
  height:37px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:193px;
  top:526px;
  width:877px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:410px;
  top:298px;
  width:73px;
  height:28px;
  color:#A1A1A1;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:309px;
  top:337px;
  width:127px;
  height:22px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:211px;
  top:420px;
  width:71px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:211px;
  top:535px;
  width:71px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:211px;
  top:654px;
  width:43px;
  height:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:640px;
  top:653px;
  width:43px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:12px;
  top:337px;
  width:5px;
  height:23px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:23px;
}
#u69 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:12px;
  top:170px;
  width:640px;
  height:80px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u72 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:33px;
  top:185px;
  width:141px;
  height:57px;
  font-size:48px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:193px;
  top:221px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:237px;
  top:221px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:281px;
  top:221px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:325px;
  top:221px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:594px;
  top:191px;
  width:33px;
  height:22px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u84 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:461px;
  top:191px;
  width:133px;
  height:22px;
}
#u85_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:602px;
  top:223px;
  width:21px;
  height:13px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:582px;
  top:223px;
  width:10px;
  height:13px;
}
#u88_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u88_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u88_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u89 {
  position:absolute;
  left:525px;
  top:223px;
  width:51px;
  height:13px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:489px;
  top:337px;
  width:57px;
  height:22px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:617px;
  top:337px;
  width:57px;
  height:22px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:446px;
  top:336px;
  width:35px;
  height:34px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:574px;
  top:336px;
  width:35px;
  height:34px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
