body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:170px;
  width:1010px;
  height:618px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:618px;
}
#u1 {
  position:absolute;
  left:2px;
  top:301px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:187px;
  top:201px;
  width:73px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:187px;
  top:358px;
  width:145px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:234px;
  top:263px;
  width:139px;
  height:43px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:43px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:372px;
  top:263px;
  width:139px;
  height:43px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:43px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:508px;
  top:300px;
  width:618px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:601px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:618px;
  height:1px;
}
#u11 {
  position:absolute;
  left:187px;
  top:299px;
  width:47px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:30px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:47px;
  height:1px;
}
#u12 {
  position:absolute;
  left:187px;
  top:406px;
  width:66px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:223px;
  top:454px;
  width:40px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:223px;
  top:501px;
  width:40px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:223px;
  top:550px;
  width:40px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:203px;
  top:597px;
  width:53px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:302px;
  top:401px;
  width:281px;
  height:35px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:302px;
  top:454px;
  width:281px;
  height:35px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:302px;
  top:503px;
  width:281px;
  height:35px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:302px;
  top:553px;
  width:281px;
  height:35px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26 {
  position:absolute;
  left:302px;
  top:601px;
  width:281px;
  height:108px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:108px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27 {
  position:absolute;
  left:302px;
  top:724px;
  width:140px;
  height:43px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:43px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:150px;
  top:808px;
  width:1010px;
  height:871px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:871px;
}
#u30 {
  position:absolute;
  left:2px;
  top:428px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:187px;
  top:839px;
  width:73px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:234px;
  top:901px;
  width:139px;
  height:42px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:135px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:372px;
  top:901px;
  width:139px;
  height:42px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:42px;
}
#u36 {
  position:absolute;
  left:2px;
  top:13px;
  width:135px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:512px;
  top:936px;
  width:607px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:590px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:607px;
  height:1px;
}
#u38 {
  position:absolute;
  left:187px;
  top:936px;
  width:48px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:48px;
  height:1px;
}
#u39 {
  position:absolute;
  left:187px;
  top:981px;
  width:73px;
  height:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:515px;
  top:981px;
  width:73px;
  height:22px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:187px;
  top:1026px;
  width:287px;
  height:316px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:316px;
}
#u44 {
  position:absolute;
  left:2px;
  top:150px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:510px;
  top:1026px;
  width:111px;
  height:108px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:108px;
}
#u46 {
  position:absolute;
  left:2px;
  top:46px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:684px;
  top:1069px;
  width:67px;
  height:65px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:65px;
}
#u48 {
  position:absolute;
  left:2px;
  top:24px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:187px;
  top:1427px;
  width:204px;
  height:48px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:48px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:201px;
  top:1356px;
  width:125px;
  height:38px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u52 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:338px;
  top:1356px;
  width:125px;
  height:38px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:38px;
}
#u54 {
  position:absolute;
  left:2px;
  top:11px;
  width:121px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:515px;
  top:1241px;
  width:73px;
  height:22px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:512px;
  top:1286px;
  width:63px;
  height:63px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:588px;
  top:1286px;
  width:63px;
  height:63px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u60 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:664px;
  top:1286px;
  width:63px;
  height:63px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u62 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:737px;
  top:1286px;
  width:63px;
  height:63px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u64 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:816px;
  top:1286px;
  width:63px;
  height:63px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u66 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:512px;
  top:1360px;
  width:63px;
  height:63px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u68 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:588px;
  top:1360px;
  width:63px;
  height:63px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u70 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:664px;
  top:1360px;
  width:63px;
  height:63px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u72 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:737px;
  top:1360px;
  width:63px;
  height:63px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u74 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:816px;
  top:1360px;
  width:63px;
  height:63px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u76 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:512px;
  top:1432px;
  width:63px;
  height:63px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:588px;
  top:1432px;
  width:63px;
  height:63px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u80 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:664px;
  top:1432px;
  width:63px;
  height:63px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:737px;
  top:1432px;
  width:63px;
  height:63px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u84 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:816px;
  top:1432px;
  width:63px;
  height:63px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:892px;
  top:1361px;
  width:63px;
  height:63px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u88 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:965px;
  top:1361px;
  width:63px;
  height:63px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1043px;
  top:1361px;
  width:63px;
  height:63px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u92 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:892px;
  top:1433px;
  width:63px;
  height:63px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u94 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:965px;
  top:1433px;
  width:63px;
  height:63px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u96 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1043px;
  top:1433px;
  width:63px;
  height:63px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u98 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:543px;
  top:1148px;
  width:34px;
  height:16px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:681px;
  top:1148px;
  width:53px;
  height:16px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:187px;
  top:1567px;
  width:922px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:905px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:922px;
  height:1px;
}
#u104 {
  position:absolute;
  left:187px;
  top:1595px;
  width:184px;
  height:55px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:55px;
}
#u105 {
  position:absolute;
  left:2px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:389px;
  top:1607px;
  width:295px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:12px;
  top:169px;
  width:128px;
  height:676px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:676px;
}
#u109 {
  position:absolute;
  left:2px;
  top:330px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:19px;
  top:410px;
  width:73px;
  height:22px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:19px;
  top:432px;
  width:104px;
  height:10px;
}
#u112_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u112_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u113 {
  position:absolute;
  left:19px;
  top:449px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:19px;
  top:476px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:19px;
  top:500px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:19px;
  top:526px;
  width:45px;
  height:32px;
  color:#A1A1A1;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:19px;
  top:553px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:19px;
  top:630px;
  width:73px;
  height:22px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:19px;
  top:651px;
  width:104px;
  height:10px;
}
#u125_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u125_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u126 {
  position:absolute;
  left:19px;
  top:668px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:19px;
  top:694px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:19px;
  top:715px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:19px;
  top:741px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:19px;
  top:763px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:19px;
  top:791px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:20px;
  top:195px;
  width:73px;
  height:22px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:20px;
  top:218px;
  width:109px;
  height:10px;
}
#u140_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u140_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u141 {
  position:absolute;
  left:20px;
  top:236px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:20px;
  top:263px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:20px;
  top:289px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u147 {
  position:absolute;
  left:20px;
  top:316px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:12px;
  top:80px;
  width:640px;
  height:80px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u151 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:33px;
  top:95px;
  width:141px;
  height:57px;
  font-size:48px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:193px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:237px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:281px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:325px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:594px;
  top:101px;
  width:33px;
  height:22px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u163 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:461px;
  top:101px;
  width:133px;
  height:22px;
}
#u164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u165 {
  position:absolute;
  left:602px;
  top:133px;
  width:21px;
  height:13px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:582px;
  top:133px;
  width:10px;
  height:13px;
}
#u167_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u167_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u167_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u168 {
  position:absolute;
  left:525px;
  top:133px;
  width:51px;
  height:13px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
