body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:40px;
  width:1000px;
  height:600px;
  font-size:55px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}
#u1 {
  position:absolute;
  left:2px;
  top:268px;
  width:996px;
  word-wrap:break-word;
}
#u0_ann {
  position:absolute;
  left:1081px;
  top:36px;
  width:1px;
  height:1px;
}
#u2 {
  position:absolute;
  left:523px;
  top:565px;
  width:23px;
  height:23px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_ann {
  position:absolute;
  left:539px;
  top:561px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:560px;
  top:565px;
  width:23px;
  height:23px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:598px;
  top:565px;
  width:23px;
  height:23px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:635px;
  top:565px;
  width:23px;
  height:23px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
