body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1957px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:20px;
  width:150px;
  height:120px;
  font-size:45px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:34px;
  width:146px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:103px;
  width:65px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:220px;
  top:56px;
  width:129px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:520px;
  top:62px;
  width:118px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:60px;
  top:170px;
  width:740px;
  height:560px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:740px;
  height:560px;
}
#u9 {
  position:absolute;
  left:2px;
  top:272px;
  width:736px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:220px;
  width:620px;
  height:64px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:127px;
  top:240px;
  width:97px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:100px;
  top:296px;
  width:620px;
  height:64px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:127px;
  top:314px;
  width:129px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:100px;
  top:366px;
  width:620px;
  height:64px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:127px;
  top:381px;
  width:65px;
  height:37px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:100px;
  top:440px;
  width:120px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:230px;
  top:440px;
  width:120px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:360px;
  top:440px;
  width:120px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:888px;
  top:960px;
  width:1069px;
  height:870px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:870px;
}
#u29 {
  position:absolute;
  left:2px;
  top:427px;
  width:1065px;
  visibility:hidden;
  word-wrap:break-word;
}
