body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:150px;
  top:170px;
  width:1010px;
  height:675px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:675px;
}
#u1 {
  position:absolute;
  left:2px;
  top:330px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:186px;
  top:181px;
  width:109px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:186px;
  top:248px;
  width:936px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:919px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:936px;
  height:1px;
}
#u5 {
  position:absolute;
  left:243px;
  top:311px;
  width:774px;
  height:141px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:141px;
}
#u6 {
  position:absolute;
  left:2px;
  top:62px;
  width:770px;
  word-wrap:break-word;
}
#u5_ann {
  position:absolute;
  left:1010px;
  top:307px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:243px;
  top:479px;
  width:774px;
  height:141px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:774px;
  height:141px;
}
#u8 {
  position:absolute;
  left:2px;
  top:62px;
  width:770px;
  word-wrap:break-word;
}
#u7_ann {
  position:absolute;
  left:1010px;
  top:475px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:12px;
  top:169px;
  width:128px;
  height:676px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:676px;
}
#u10 {
  position:absolute;
  left:2px;
  top:330px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:19px;
  top:410px;
  width:73px;
  height:22px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:19px;
  top:432px;
  width:104px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u14 {
  position:absolute;
  left:19px;
  top:449px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:19px;
  top:476px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:19px;
  top:500px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:19px;
  top:526px;
  width:45px;
  height:32px;
  color:#A1A1A1;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:19px;
  top:553px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:19px;
  top:630px;
  width:73px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:19px;
  top:651px;
  width:104px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:87px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:104px;
  height:1px;
}
#u27 {
  position:absolute;
  left:19px;
  top:668px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:19px;
  top:694px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:19px;
  top:715px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:19px;
  top:741px;
  width:85px;
  height:16px;
  color:#A1A1A1;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:19px;
  top:763px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:19px;
  top:791px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:20px;
  top:195px;
  width:73px;
  height:22px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:20px;
  top:218px;
  width:109px;
  height:10px;
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:5px;
  width:109px;
  height:1px;
}
#u42 {
  position:absolute;
  left:20px;
  top:236px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:20px;
  top:263px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:20px;
  top:289px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:20px;
  top:316px;
  width:57px;
  height:16px;
  color:#A1A1A1;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:12px;
  top:80px;
  width:640px;
  height:80px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:80px;
}
#u52 {
  position:absolute;
  left:2px;
  top:32px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:33px;
  top:95px;
  width:141px;
  height:57px;
  font-size:48px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:57px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:193px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:237px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:281px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:325px;
  top:131px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:594px;
  top:101px;
  width:33px;
  height:22px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u64 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:461px;
  top:101px;
  width:133px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:602px;
  top:133px;
  width:21px;
  height:13px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:582px;
  top:133px;
  width:10px;
  height:13px;
}
#u68_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u68_end {
  position:absolute;
  left:-5px;
  top:-4px;
  width:20px;
  height:18px;
}
#u68_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:13px;
}
#u69 {
  position:absolute;
  left:525px;
  top:133px;
  width:51px;
  height:13px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
