body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:168px;
  width:1240px;
  height:126px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:126px;
}
#u1 {
  position:absolute;
  left:2px;
  top:55px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:78px;
  top:208px;
  width:129px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:318px;
  top:217px;
  width:227px;
  height:38px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
}
#u5 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:546px;
  top:217px;
  width:227px;
  height:38px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
}
#u7 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:774px;
  top:217px;
  width:227px;
  height:38px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
}
#u9 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1001px;
  top:217px;
  width:227px;
  height:38px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:38px;
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:223px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:318px;
  width:270px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:364px;
  width:309px;
  height:190px;
  font-size:36px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:190px;
}
#u15 {
  position:absolute;
  left:2px;
  top:74px;
  width:305px;
  word-wrap:break-word;
}
#u14_ann {
  position:absolute;
  left:342px;
  top:360px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:349px;
  top:364px;
  width:309px;
  height:190px;
  font-size:36px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:190px;
}
#u17 {
  position:absolute;
  left:2px;
  top:74px;
  width:305px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:662px;
  top:364px;
  width:309px;
  height:190px;
  font-size:36px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:190px;
}
#u19 {
  position:absolute;
  left:2px;
  top:74px;
  width:305px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:971px;
  top:364px;
  width:309px;
  height:190px;
  font-size:36px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:190px;
}
#u21 {
  position:absolute;
  left:2px;
  top:74px;
  width:305px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1140px;
  top:564px;
  width:129px;
  height:37px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:40px;
  top:687px;
  width:1244px;
  height:537px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:537px;
}
#u25 {
  position:absolute;
  left:2px;
  top:260px;
  width:1240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:98px;
  top:770px;
  width:171px;
  height:137px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:137px;
}
#u27 {
  position:absolute;
  left:2px;
  top:60px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:83px;
  top:745px;
  width:1143px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:1126px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1143px;
  height:1px;
}
#u29 {
  position:absolute;
  left:40px;
  top:629px;
  width:433px;
  height:37px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:37px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:98px;
  top:698px;
  width:129px;
  height:37px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:338px;
  top:811px;
  width:240px;
  height:37px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:591px;
  top:811px;
  width:100px;
  height:46px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:845px;
  top:811px;
  width:33px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  visibility:hidden;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:811px;
  top:811px;
  width:52px;
  height:46px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:571px;
  top:698px;
  width:65px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:778px;
  top:698px;
  width:65px;
  height:37px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:1117px;
  top:698px;
  width:65px;
  height:37px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:1096px;
  top:811px;
  width:100px;
  height:46px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:940px;
  top:698px;
  width:65px;
  height:37px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:901px;
  top:802px;
  width:117px;
  height:64px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
}
#u51 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:83px;
  top:1275px;
  width:457px;
  height:37px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:293px;
  top:1275px;
  width:285px;
  height:46px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u55 {
  position:absolute;
  left:98px;
  top:1011px;
  width:171px;
  height:137px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:137px;
}
#u56 {
  position:absolute;
  left:2px;
  top:60px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:338px;
  top:1051px;
  width:240px;
  height:37px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:37px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:591px;
  top:1051px;
  width:100px;
  height:46px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:811px;
  top:1051px;
  width:52px;
  height:46px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62 {
  position:absolute;
  left:1096px;
  top:1051px;
  width:100px;
  height:46px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:46px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:901px;
  top:1042px;
  width:117px;
  height:64px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:64px;
}
#u65 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:98px;
  top:949px;
  width:1153px;
  height:10px;
}
#u66_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_end {
  position:absolute;
  left:1136px;
  top:-5px;
  width:18px;
  height:20px;
}
#u66_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1153px;
  height:1px;
}
#u67 {
  position:absolute;
  left:911px;
  top:1350px;
  width:374px;
  height:37px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:911px;
  top:1430px;
  width:374px;
  height:37px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:37px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:746px;
  top:1515px;
  width:537px;
  height:10px;
}
#u71_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_end {
  position:absolute;
  left:520px;
  top:-5px;
  width:18px;
  height:20px;
}
#u71_line {
  position:absolute;
  left:0px;
  top:5px;
  width:537px;
  height:1px;
}
#u72 {
  position:absolute;
  left:1115px;
  top:1554px;
  width:169px;
  height:64px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:64px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:954px;
  top:1641px;
  width:330px;
  height:64px;
  font-size:35px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:64px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:40px;
  top:41px;
  width:1240px;
  height:99px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:99px;
}
#u77 {
  position:absolute;
  left:2px;
  top:42px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:1124px;
  top:105px;
  width:136px;
  height:16px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:40px;
  top:45px;
  width:1240px;
  height:36px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:45px;
  top:53px;
  width:53px;
  height:21px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:960px;
  top:55px;
  width:27px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:997px;
  top:55px;
  width:53px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1063px;
  top:55px;
  width:53px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:1134px;
  top:55px;
  width:53px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:1207px;
  top:55px;
  width:53px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:60px;
  top:55px;
  width:27px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:102px;
  top:55px;
  width:27px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:40px;
  top:1748px;
  width:1240px;
  height:364px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:364px;
}
#u100 {
  position:absolute;
  left:2px;
  top:174px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:90px;
  top:1912px;
  width:1110px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u102 {
  position:absolute;
  left:77px;
  top:1802px;
  width:90px;
  height:90px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u103 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_ann {
  position:absolute;
  left:160px;
  top:1798px;
  width:1px;
  height:1px;
}
#u104 {
  position:absolute;
  left:176px;
  top:1814px;
  width:145px;
  height:37px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u104_ann {
  position:absolute;
  left:314px;
  top:1810px;
  width:1px;
  height:1px;
}
#u106 {
  position:absolute;
  left:176px;
  top:1859px;
  width:181px;
  height:22px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:374px;
  top:1802px;
  width:90px;
  height:90px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u109 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_ann {
  position:absolute;
  left:457px;
  top:1798px;
  width:1px;
  height:1px;
}
#u110 {
  position:absolute;
  left:473px;
  top:1814px;
  width:145px;
  height:37px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u110_ann {
  position:absolute;
  left:611px;
  top:1810px;
  width:1px;
  height:1px;
}
#u112 {
  position:absolute;
  left:473px;
  top:1859px;
  width:181px;
  height:22px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:670px;
  top:1802px;
  width:90px;
  height:90px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u115 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_ann {
  position:absolute;
  left:753px;
  top:1798px;
  width:1px;
  height:1px;
}
#u116 {
  position:absolute;
  left:769px;
  top:1814px;
  width:145px;
  height:37px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u116_ann {
  position:absolute;
  left:907px;
  top:1810px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:769px;
  top:1859px;
  width:181px;
  height:22px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:967px;
  top:1802px;
  width:90px;
  height:90px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u121 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_ann {
  position:absolute;
  left:1050px;
  top:1798px;
  width:1px;
  height:1px;
}
#u122 {
  position:absolute;
  left:1066px;
  top:1814px;
  width:145px;
  height:37px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u122_ann {
  position:absolute;
  left:1204px;
  top:1810px;
  width:1px;
  height:1px;
}
#u124 {
  position:absolute;
  left:1066px;
  top:1859px;
  width:181px;
  height:22px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:77px;
  top:1948px;
  width:97px;
  height:28px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u128 {
  position:absolute;
  left:77px;
  top:1983px;
  width:73px;
  height:22px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:77px;
  top:2010px;
  width:73px;
  height:22px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:288px;
  top:1948px;
  width:97px;
  height:28px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:288px;
  top:1983px;
  width:73px;
  height:22px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u136 {
  position:absolute;
  left:288px;
  top:2010px;
  width:73px;
  height:22px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:499px;
  top:1948px;
  width:97px;
  height:28px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:499px;
  top:1984px;
  width:55px;
  height:22px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:499px;
  top:2010px;
  width:55px;
  height:22px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:710px;
  top:1947px;
  width:97px;
  height:28px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:710px;
  top:1982px;
  width:73px;
  height:22px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:710px;
  top:2009px;
  width:73px;
  height:22px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:499px;
  top:2038px;
  width:37px;
  height:22px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:710px;
  top:2038px;
  width:73px;
  height:22px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:905px;
  top:1932px;
  width:342px;
  height:65px;
  font-size:55px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:949px;
  top:1998px;
  width:253px;
  height:29px;
  font-size:25px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:939px;
  top:2037px;
  width:273px;
  height:47px;
  font-size:28px;
  color:#FFFFFF;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:269px;
  word-wrap:break-word;
}
