body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:88px;
  top:250px;
  width:487px;
  height:378px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:378px;
}
#u1 {
  position:absolute;
  left:2px;
  top:181px;
  width:483px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:661px;
  top:250px;
  width:500px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:661px;
  top:307px;
  width:658px;
  height:158px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:158px;
}
#u5 {
  position:absolute;
  left:2px;
  top:71px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:685px;
  top:335px;
  width:65px;
  height:37px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:690px;
  top:417px;
  width:57px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:685px;
  top:478px;
  width:65px;
  height:37px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:805px;
  top:489px;
  width:502px;
  height:34px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:34px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:661px;
  top:547px;
  width:658px;
  height:49px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:49px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:654px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:663px;
  top:616px;
  width:122px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:37px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:88px;
  top:677px;
  width:258px;
  height:65px;
  font-size:35px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:65px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:346px;
  top:677px;
  width:258px;
  height:65px;
  font-size:35px;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:65px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:606px;
  top:677px;
  width:258px;
  height:65px;
  font-size:35px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:65px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:866px;
  top:677px;
  width:258px;
  height:65px;
  font-size:35px;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:65px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:254px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:1136px;
  top:677px;
  width:183px;
  height:65px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:65px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:179px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1136px;
  top:741px;
  width:183px;
  height:813px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:813px;
}
#u29 {
  position:absolute;
  left:2px;
  top:398px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:88px;
  top:741px;
  width:1036px;
  height:923px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:923px;
}
#u31 {
  position:absolute;
  left:2px;
  top:454px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:1173px;
  top:774px;
  width:110px;
  height:134px;
  font-size:35px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:134px;
}
#u33 {
  position:absolute;
  left:2px;
  top:46px;
  width:106px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1173px;
  top:924px;
  width:134px;
  height:32px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1173px;
  top:1024px;
  width:110px;
  height:134px;
  font-size:35px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:134px;
}
#u37 {
  position:absolute;
  left:2px;
  top:46px;
  width:106px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1173px;
  top:1174px;
  width:134px;
  height:32px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1173px;
  top:1268px;
  width:110px;
  height:134px;
  font-size:35px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:134px;
}
#u41 {
  position:absolute;
  left:2px;
  top:46px;
  width:106px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:1173px;
  top:1418px;
  width:134px;
  height:32px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:149px;
  top:780px;
  width:902px;
  height:286px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:286px;
}
#u45 {
  position:absolute;
  left:2px;
  top:135px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:149px;
  top:1109px;
  width:902px;
  height:286px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:286px;
}
#u47 {
  position:absolute;
  left:2px;
  top:135px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:88px;
  top:1725px;
  width:1036px;
  height:207px;
  font-size:50px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:207px;
}
#u49 {
  position:absolute;
  left:2px;
  top:74px;
  width:1032px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:88px;
  top:1993px;
  width:1036px;
  height:207px;
  font-size:50px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:207px;
}
#u51 {
  position:absolute;
  left:2px;
  top:96px;
  width:1032px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:161px;
  top:2082px;
  width:214px;
  height:118px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:118px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:80px;
  top:20px;
  width:1240px;
  height:199px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:199px;
}
#u56 {
  position:absolute;
  left:2px;
  top:92px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:80px;
  top:90px;
  width:150px;
  height:57px;
  font-size:50px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:57px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:750px;
  top:115px;
  width:380px;
  height:34px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:1130px;
  top:116px;
  width:50px;
  height:33px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:33px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1190px;
  top:116px;
  width:110px;
  height:33px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u63 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:80px;
  top:169px;
  width:250px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u65 {
  position:absolute;
  left:2px;
  top:13px;
  width:246px;
  word-wrap:break-word;
}
#u64_ann {
  position:absolute;
  left:323px;
  top:165px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:330px;
  top:169px;
  width:990px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:17px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_ann {
  position:absolute;
  left:1313px;
  top:165px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:350px;
  top:183px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:436px;
  top:183px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:547px;
  top:183px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:636px;
  top:183px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:751px;
  top:183px;
  width:73px;
  height:22px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:866px;
  top:183px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:1230px;
  top:183px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:953px;
  top:183px;
  width:55px;
  height:22px;
  color:#FFFFFF;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:1153px;
  top:183px;
  width:37px;
  height:22px;
  color:#FFFFFF;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:1050px;
  top:183px;
  width:55px;
  height:22px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:1164px;
  top:84px;
  width:136px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:80px;
  top:24px;
  width:1240px;
  height:36px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:36px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:85px;
  top:32px;
  width:53px;
  height:21px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:1000px;
  top:34px;
  width:27px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:1037px;
  top:34px;
  width:53px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:1103px;
  top:34px;
  width:53px;
  height:16px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:1174px;
  top:34px;
  width:53px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:1247px;
  top:34px;
  width:53px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:100px;
  top:34px;
  width:27px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:142px;
  top:34px;
  width:27px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:88px;
  top:2250px;
  width:1240px;
  height:364px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:364px;
}
#u110 {
  position:absolute;
  left:2px;
  top:174px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:138px;
  top:2414px;
  width:1110px;
  height:10px;
}
#u111_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_end {
  position:absolute;
  left:1093px;
  top:-5px;
  width:18px;
  height:20px;
}
#u111_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1110px;
  height:1px;
}
#u112 {
  position:absolute;
  left:125px;
  top:2304px;
  width:90px;
  height:90px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u113 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_ann {
  position:absolute;
  left:208px;
  top:2300px;
  width:1px;
  height:1px;
}
#u114 {
  position:absolute;
  left:224px;
  top:2316px;
  width:145px;
  height:37px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u114_ann {
  position:absolute;
  left:362px;
  top:2312px;
  width:1px;
  height:1px;
}
#u116 {
  position:absolute;
  left:224px;
  top:2361px;
  width:181px;
  height:22px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:422px;
  top:2304px;
  width:90px;
  height:90px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u119 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_ann {
  position:absolute;
  left:505px;
  top:2300px;
  width:1px;
  height:1px;
}
#u120 {
  position:absolute;
  left:521px;
  top:2316px;
  width:145px;
  height:37px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u120_ann {
  position:absolute;
  left:659px;
  top:2312px;
  width:1px;
  height:1px;
}
#u122 {
  position:absolute;
  left:521px;
  top:2361px;
  width:181px;
  height:22px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:718px;
  top:2304px;
  width:90px;
  height:90px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u125 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_ann {
  position:absolute;
  left:801px;
  top:2300px;
  width:1px;
  height:1px;
}
#u126 {
  position:absolute;
  left:817px;
  top:2316px;
  width:145px;
  height:37px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u126_ann {
  position:absolute;
  left:955px;
  top:2312px;
  width:1px;
  height:1px;
}
#u128 {
  position:absolute;
  left:817px;
  top:2361px;
  width:181px;
  height:22px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:1015px;
  top:2304px;
  width:90px;
  height:90px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u131 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_ann {
  position:absolute;
  left:1098px;
  top:2300px;
  width:1px;
  height:1px;
}
#u132 {
  position:absolute;
  left:1114px;
  top:2316px;
  width:145px;
  height:37px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:37px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  word-wrap:break-word;
}
#u132_ann {
  position:absolute;
  left:1252px;
  top:2312px;
  width:1px;
  height:1px;
}
#u134 {
  position:absolute;
  left:1114px;
  top:2361px;
  width:181px;
  height:22px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:125px;
  top:2450px;
  width:97px;
  height:28px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u138 {
  position:absolute;
  left:125px;
  top:2485px;
  width:73px;
  height:22px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:125px;
  top:2512px;
  width:73px;
  height:22px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:336px;
  top:2450px;
  width:97px;
  height:28px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:336px;
  top:2485px;
  width:73px;
  height:22px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u146 {
  position:absolute;
  left:336px;
  top:2512px;
  width:73px;
  height:22px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u148 {
  position:absolute;
  left:547px;
  top:2450px;
  width:97px;
  height:28px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:547px;
  top:2486px;
  width:55px;
  height:22px;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:547px;
  top:2512px;
  width:55px;
  height:22px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:758px;
  top:2449px;
  width:97px;
  height:28px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u156 {
  position:absolute;
  left:758px;
  top:2484px;
  width:73px;
  height:22px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:758px;
  top:2511px;
  width:73px;
  height:22px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:547px;
  top:2540px;
  width:37px;
  height:22px;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:758px;
  top:2540px;
  width:73px;
  height:22px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u164 {
  position:absolute;
  left:953px;
  top:2434px;
  width:342px;
  height:65px;
  font-size:55px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:65px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u166 {
  position:absolute;
  left:997px;
  top:2500px;
  width:253px;
  height:29px;
  font-size:25px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:29px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:987px;
  top:2539px;
  width:273px;
  height:47px;
  font-size:28px;
  color:#FFFFFF;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:47px;
}
#u169 {
  position:absolute;
  left:2px;
  top:7px;
  width:269px;
  word-wrap:break-word;
}
